.projects-wrap {
  position: relative;
  overflow: hidden;
  font-family: sans-serif;
  margin-top: 33vh;
  padding: 2vh 0 35vh;
  background: radial-gradient(
        13.26vh at 50% calc(100% - 15.6vh),
        #000 99%,
        #0000 101%
      )
      calc(50% - 26vh) 0/52vh 100%,
    radial-gradient(13.26vh at 50% calc(100% + 2.6vh), #0000 99%, #000 101%) 50%
      calc(100% - 13vh) / 52vh 100% repeat-x;

  @media (max-width: 768px) {
    margin-top: 26vh;
    padding: 0;
  }
}
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  padding: 0em 3em;

  /* row-gap: 5vw; */
  margin-top: 0vh;

  & h2 {
    font-size: 5.5em;
    word-spacing: 0vw;
    font-family: "HighSummer";

    @media (max-width: 768px) {
      white-space: pre-wrap;
      line-height: 0.8em;
      margin-top: 0.7em;
      margin-bottom: 0.4em;
    }
  }
  @media (max-width: 768px) {
    width: 100%;
    padding: 0;
    margin-bottom: 25vh;
  }

  & .project {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 70%;
    padding: 2em 1.5em;
    margin-bottom: 3vw;
    border-radius: 1em;
    background-color: rgb(50, 50, 50);
    transition: transform 0.35s ease;

    @media (max-width: 768px) {
      max-width: 80%;
      flex-direction: column;
      align-items: center;
      padding: 2.5em 0.5em;
    }

    & img {
      max-width: 20em;
      border-radius: 0.7em;
    }

    & .text-wrap {
      position: relative;
      width: 55%;

      @media (max-width: 768px) {
        width: 100%;
      }

      & h2 {
        font-size: 5em;
        word-spacing: 0vw;
        font-family: "HighSummer";
      }
      & p {
        font-size: 1.5em;
        font-family: sans-serif;
      }
      & ul {
        font-size: 1.2em;
      }
      & .i-did {
        font-family: "HighSummer";
        font-size: 2.5em;
      }

      & .technology {
        position: absolute;
        background-color: rgb(74, 74, 74);
        top: 1em;
        right: -2em;
        border-radius: 1em;
        padding: 0 0.2em;
        min-width: 2.5em;
        text-align: center;
        transform: rotate(10deg);
      }
    }
    & a {
      font-size: 1.5em;
      background-color: rgb(74, 74, 74);
      padding: 0 0.1em;

      &:hover {
        background-color: var(--font-RGB);
        color: rgb(15, 0, 114);
      }
      &:last-child {
        font-size: 1em;
      }
    }
    & a::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
    &:hover {
      background-color: rgb(15, 0, 114);
      /* background-color: rgb(72 57 98); */
      cursor: pointer;
      transform: scale(1.05);
      transition: transform 0s ease;

      @media (max-width: 768px) {
        transform: scale(1);
      }
    }
  }
}

.about-section {
  width: 60%;
  margin-bottom: 2em;

  color: rgb(155, 155, 155);
  @media (max-width: 768px) {
    width: 90%;
    padding: 0 5em;
  }
  & a {
    color: rgb(155, 155, 155);
    border-bottom: 1px solid blue;
    &:hover {
      color: var(--font-RGB);
    }
  }
  & h2 {
    margin-top: 0;
  }
  & p {
    font-size: 1.4em;
  }
}

.place {
  text-align: right;
  color: rgb(74, 74, 74);
}
