.projects-wrap {
  position: relative;
  overflow: hidden;
  font-family: sans-serif;

  padding-bottom: 35vh;
  background: radial-gradient(
        13.26vh at 50% calc(100% - 15.6vh),
        #000 99%,
        #0000 101%
      )
      calc(50% - 26vh) 0/52vh 100%,
    radial-gradient(13.26vh at 50% calc(100% + 2.6vh), #0000 99%, #000 101%) 50%
      calc(100% - 13vh) / 52vh 100% repeat-x;

  @media (max-width: 768px) {
    margin-top: 11vh;
    padding: 0;
  }
}
.projects {
  display: flex;
  flex-direction: column;
  padding: 1%;
  margin-top: 1vh;

  & h2 {
    /* font-size: 5.5em; */
    word-spacing: 0vw;
    font-family: sans-serif;
    margin-bottom: 1em;

    @media (max-width: 768px) {
      /* font-size: 3.5em; */
      white-space: pre-wrap;
      line-height: 0.8em;
      margin-top: 0.7em;
      margin-bottom: 0.4em;
    }
  }
  @media (max-width: 768px) {
    width: 100%;
    padding: 1%;
    margin-bottom: 25vh;
  }

  & .project {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: flex-start;
    width: 90%;
    margin-bottom: 4em;
    border-left: 15px solid;
    border-color: black;
    transition: transform 0.35s ease, border-color 0.35s ease;

    @media (max-width: 768px) {
      width: 90%;
      flex-direction: column;
      align-items: center;
      padding: 1em 0.5em;
    }

    & img {
      max-width: 25em;
      filter: grayscale(1);
      transition: filter 0.4s ease;
      /* border-radius: 0.7em; */
      @media (max-width: 768px) {
        max-width: 95%;
        margin-bottom: 0.5em;
      }
    }
    & .technology {
      /* position: absolute; */
      background-color: rgb(74, 74, 74);
      margin-top: 0.4em;
      right: 29em;
      border-radius: 0.2em;
      padding: 0 0.2em;
      min-width: 2.5em;
      text-align: center;
      /* transform: rotate(347deg); */
      width: 9em;

      @media (max-width: 768px) {
        font-size: 1.3em;

        right: 0;
        top: -0.8em;
        /* transform: rotate(3deg); */
      }
    }
    & .text-wrap {
      position: relative;
      width: 65%;
      line-height: 1.6em;
      @media (max-width: 768px) {
        width: 96%;
      }

      & h2 {
        /* font-size: 5em; */
        word-spacing: 0vw;
        font-family: sans-serif;

        @media (max-width: 768px) {
          font-size: 3.9em;
          margin: 0.3em 0;
        }
      }
      & p {
        /* font-size: 1.5em; */
        font-family: sans-serif;

        @media (max-width: 768px) {
          font-size: 1.2em;
        }
      }
      & p:nth-of-type(1) {
        opacity: 0.6;
        margin-bottom: 0.45em;
      }
      & ul {
        /* font-size: 1.2em; */
      }
      & .i-did {
        font-family: sans-serif;
        font-style: italic;
        font-size: 1.2em;
        margin-top: 0.6em;
        @media (max-width: 768px) {
          margin-top: 0.25em;
        }
      }
    }
    & a {
      /* font-size: 1.5em; */
      background-color: rgb(74, 74, 74);
      padding: 0 0.1em;

      &:hover {
        background-color: var(--font-RGB);
        color: rgb(15, 0, 114);
      }
      &:last-child {
        /* font-size: 1em; */
      }
    }
    & a::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
    &:hover {
      border-color: rgb(74, 74, 74);

      & img {
        filter: grayscale(0);
        transition: filter 0s ease, border-color 0s ease;
      }
    }
    /* &:hover {
      background-color: rgb(74, 74, 74);

      cursor: pointer;
      transform: scale(1.1);
      transition: transform 0s ease;

      @media (max-width: 768px) {
        transform: scale(1);
      }
    } */
  }
}
