* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--font-RGB);
  background-color: var(--background-RGB);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --mobile-width: 900px;
  cursor: url("../assets/skyrim.cur") 5 5, auto;
}
header {
  padding: 2% 1%;
  background-color: white;
  color: black;

  @media (max-width: 768px) {
    overflow-x: hidden;
  }

  & .header-text {
    display: flex;
    justify-content: space-between;
    width: 99%;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-end;
      width: 97%;

      & h1 {
        line-height: 1;
        margin-bottom: 0.15em;
      }
    }
  }

  & p {
    font-size: 1em;
    font-weight: 650;
    white-space: break-spaces;
    line-height: 1.2em;
    width: 10%;

    @media (max-width: 768px) {
      width: 20%;
      padding-right: 1em;
    }
  }
}
body {
  overflow-x: hidden;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  cursor: url("../assets/skyrim.cur") 5 5, auto;
  @media (max-width: 768px) {
    width: 102%;
  }
}

h1 {
  font-size: 2.5em;
  white-space: nowrap;
  line-height: 0.8;
  /* cursor: url("../assets/skyrim.cur") 5 5, auto; */
  @media (max-width: 768px) {
    white-space: break-spaces;
  }
}

h2 {
  font-size: 2em;
  white-space: nowrap;
  /* text-align: center; */
}
h3 {
  font-size: 1.8em;
  white-space: nowrap;
  /* text-align: center; */
}
a {
  color: var(--font-RGB);
  font-family: sans-serif;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s ease;
  &:hover {
    color: var(--hover-RGB);
    color: rgb(169 169 169);
    transition: color 0s ease;
  }
}
li {
  list-style-type: none;
}
