* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--font-RGB);
  background-color: var(--background-RGB);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --mobile-width: 900px;
  cursor: url("../assets/skyrim.cur") 5 5, auto;
}

body {
  /* margin: 0; */
  /* display: flex;
  place-items: center; */
  /* min-width: 320px;
  min-height: 100vh; */
  width: 100%;
  /* min-width: 1000px; */
  display: flex;

  flex-direction: column;
  /* align-items: center; */

  cursor: url("../assets/skyrim.cur") 5 5, auto;
}

h1 {
  text-align: center;
  font-size: 15.5vw;
  white-space: nowrap;
  line-height: 0.8;
  cursor: url("../assets/skyrim.cur") 5 5, auto;
}

h2 {
  font-size: 13vw;
  white-space: nowrap;
  text-align: center;
}
h3 {
  font-size: 6vw;
  white-space: nowrap;
  text-align: center;
}
a {
  color: var(--font-RGB);
  font-family: sans-serif;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s ease;
  &:hover {
    color: var(--hover-RGB);
    color: rgb(169 169 169);
    transition: color 0s ease;
  }
}
li {
  list-style-type: none;
}
