.project-wrap {
  h1 {
    font-size: 5.1vw;
    padding: 5.5vh 1vh 3vh;
    text-align: left;
  }
  h2 {
    font-family: "HighSummer";
    font-size: 6vw;
    word-spacing: 0;
    margin-left: 23vw;
    margin-top: -5vw;
    transform: rotate(-13deg);
    text-align: center;
  }
  img {
    width: 55vw;
  }
  .project-description,
  .key-point {
    display: flex;
    column-gap: 2vw;
  }

  .key-point {
    margin-top: 1vh;
  }

  @media (max-width: 768px) {
    h1 {
      font-size: 9vw;
    }
    h2 {
      font-size: 13vw;
      text-align: left;
      padding: 0 1vw;
    }
    img {
      width: 100%;
    }
    .project-description {
      flex-direction: column;
      margin-bottom: 3vh;
    }
    .key-point {
      flex-direction: column;
      margin-top: 12vh;

      ul {
        margin-top: 3vh;
        padding-left: 2vw;
      }
    }
  }
}
