:root {
  --background-RGB: rgb(17, 17, 17);
  --font-RGB: rgb(170, 170, 170);
  --hover-RGB: rgb(255, 163, 243);
  --brat-RGB: #8ace00;
}

@font-face {
  font-family: "pt-mono";
  src: url("../assets/font/pt-mono_bold.ttf") format("truetype");
  font-weight: 100 900;
}
@font-face {
  font-family: "pt-root";
  src: url("../assets/font/pt-root-ui_regular.ttf") format("truetype");
  font-weight: 400 600;
}
