:root {
  --background-RGB: rgb(17, 17, 17);
  --font-RGB: rgba(170, 170, 170, 1);
  --hover-RGB: rgb(255, 163, 243);
  --brat-RGB: rgba(138, 206, 0, 1);
  --border-RGB: rgb(37, 37, 37);
  --border-RGB: rgba(61, 61, 61, 1);
  --border-size: 1px;
}

@font-face {
  font-family: "pt-mono";
  src: url("../assets/font/pt-mono_bold.ttf") format("truetype");
  font-weight: 100 900;
}
@font-face {
  font-family: "pt-root";
  src: url("../assets/font/pt-root-ui_regular.ttf") format("truetype");
  font-weight: 400 600;
}
