.about-section {
  margin: 1em 0;
  width: 24%;
  @media (max-width: 768px) {
    width: 86%;
  }
  & p {
    font-size: 1em;

    &:last-of-type {
      margin-top: 0.5em;
    }
  }
  & a {
    border-bottom: 1px solid;
    border-color: rgba(var(--font-RGB), 0.1);
    border-color: #505050;

    &:hover {
      border-color: rgba(var(--font-RGB), 1);
    }
  }
  &::selection {
    background: var(--brat-RGB);
    color: black;
  }
}
