#about {
  position: relative;
  font-family: "HighSummer";
}

.veresPic {
  position: absolute;
  z-index: -1;
  width: 100%;
}

h2 {
  margin-left: 0.5vw;
  word-spacing: 14vw;
}
.font {
  filter: invert();
}
.wave-up {
  width: 100%;
  height: 100%;
  position: absolute;
  margin-top: 7vw;

  background: radial-gradient(18.38vh at 50% 26vh, #000 99%, #0000 101%)
      calc(50% - 26vh) 0/52vh 100%,
    radial-gradient(18.38vh at 50% -13vh, #0000 99%, #000 101%) 50% 13vh/52vh
      100% repeat-x;
}
.wrap-about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  & a {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5em;
    height: 2.5em;
    font-size: 2em;
    font-family: "HighSummer";
    background-color: var(--background-RGB);
    border-radius: 50%;
    bottom: 3em;
    left: 1em;
    z-index: 1;
    /* bottom: -4.5em;
    left: 7.5em; */
  }
}
