#about {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 1%;

  @media (max-width: 768px) {
    padding: 0;
    flex-direction: column-reverse;
  }
}

.wrap-about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  & a {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 5em;
    height: 2.5em; */
    font-size: 2em;
    font-family: sans-serif;
    background-color: var(--background-RGB);
    border-radius: 50%;
    bottom: 3em;
    left: 1em;
    z-index: 1;
    /* bottom: -4.5em;
    left: 7.5em; */
  }
}
.about-section {
  margin-bottom: 1em;
  color: rgb(175 175 175);

  & a {
    color: rgba(215, 215, 215, 1);
    border-bottom: 1px solid white;
    &:hover {
      color: var(--font-RGB);
    }
  }
  & h2 {
    margin-top: 0;
  }
  & p {
    font-size: 1.3em;
  }

  & .about-text {
    width: 49%;

    @media (max-width: 768px) {
      padding: 1%;
      width: 100%;
    }
  }
  & .about-img {
    width: 25em;
    padding: 6.6%;

    & img {
      width: 100%;
      filter: grayscale(1);
    }

    @media (max-width: 768px) {
      width: 100%;
      padding: 0;
      & img {
        filter: grayscale(0);
      }
    }
  }
}
