.about-section {
  margin: 1em 0;
  width: 24%;
  @media (max-width: 768px) {
    width: 86%;
  }
  & p {
    &:last-of-type {
      margin-top: 0.5em;
    }
    &.location {
      opacity: 0.6;
    }
  }
  & a {
    border-bottom: 1px solid;
    border-color: var(--border-RGB);
    transition: border-color 0.35s ease;
    &:hover {
      border-color: rgba(var(--font-RGB), 1);
      transition: border-color 0s ease;
    }
  }
  &::selection {
    background: var(--brat-RGB);
    color: var(--background-RGB);
  }
}
