.custom-cursor {
  position: fixed;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background: var(--font-RGB);
  pointer-events: none;
  z-index: 1;
  filter: blur(0.5em);
}
.custom-cursor.pointer {
  background: var(--brat-RGB);
}
